@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* Colors */
    --primary-color : #411d13;
    --secondary-color : #e1bb80;

    --primary-txt-color : #ffff;
    --secondary-txt-color : #000000;

    /* Font Size */
    /* 62.5% */

    --navbar-height: 30px;
}

/* Global */

*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
    scroll-behavior: smooth;
    cursor: pointer;
}


h1{
    color: var(--primary-txt-color);
    font-size: 2.5rem;
    font-weight: 700;
}

h2{
    color: var(--primary-txt-color);
    font-size: 2rem;
}

p{
    color: var(--primary-txt-color);
    font-size: 2rem;
    font-weight: 500;
}

small{
    color: var(--primary-txt-color);
    font-size: 1.5rem;
    font-weight: 500;
}

ul , li , a{
    text-decoration: none;
    color: var(--primary-txt-color);
    list-style: none;
}

a{
    font-size: 500;
    font-size: 2rem;
    display: inline-block;
}

img{
    width: 400px;
}

.btn{
    text-align: center;
    width: 15rem;
    padding: 0.5rem;
    border-radius: 10px;
    color: var(--primary-txt-color);
}

.btn-primary{
    background-color: var(--secondary-color);
    transition: 0.3s ease-in;
}

.btn-primary:hover{
    background-color: var(--primary-txt-color);
    color: var(--primary-color);
    transform: scale(1.02,1.02);
}

.btn-secondary{
    border: 2px solid white;
    background-color: transparent;
    color: var(--primary-txt-color);
    transition: 0.3s ease-in;
}

.btn-secondary:hover{
    color: white;
    transform: scale(1.05,1.05);
    background-color: var(--secondary-color);
}


section{
    padding: 1rem 8%;
    box-sizing: border-box;
}

/* Styling */

/* Navigation Bar */

.navbar{
    background-color: var(--secondary-color);
    background: rgba(206, 101, 59, 0.95);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    z-index: 999;
}

.navbar a{
    color: var(--secondary-txt-color);
    font-weight: 500;
}

.navbar-container{
    display: flex;
    justify-content: space-evenly;
    gap: 2.5rem;
}


/* Hero Section */

.hero-section{
    background-color: var(--primary-color);
    height: 100lvh;
    padding-top: 15rem;
    color: var(--primary-txt-color);
}

.flex-hero-section-container{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.flex-hero1{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.flex-hero1 h1{
    font-size: 5rem;
}

.flex-hero1 p{
    font-size: 2rem;
    width: 80%;
    color: var(--primary-txt-color);
}

.flex-hero2{
    display: flex;
    gap: 2rem;
}


/* About Section */

.about{
    background-color: var(--secondary-color);
}


.about h1{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: var(--secondary-txt-color);
}

.about p {
    width: 80%;
    padding: 2rem;
    margin-left: 2rem;
    color: var(--secondary-txt-color);
    padding-left: 8rem;
}

.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'column1 column2'
    'column3 column4';
    gap: 4rem;
    padding: 2rem;
    justify-items: center;
    align-items: center;
}

.about-column-one{
    grid-area: column1;
    position: relative;
    left: 2rem;
}

.about-column-two{
    grid-area: column2;
}

.about-column-three{
    grid-area: column3;
}

.about-column-four{
    grid-area: column4;
}


.about-item > img{
    width: 300px;
    border-radius: 90%;
}


/* Food Section */

.food-section{
    background-color: var(--primary-color);
}

.food-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 4rem;
    margin-bottom: 2rem;
}

.food-heading , .location-heading{
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.food-images img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 25px;
}


/* Location Section Style */

.location-section{
    background-color: var(--secondary-color);
}

.location-container{
    display: grid;
    grid-template-columns: repeat(2 , minmax(300px , 1fr));
    gap: 3rem;
    margin-bottom: 5rem;
    padding: 5rem;
    border-radius: 10px;
    background-color: var(--primary-color);
    justify-items: center;
    align-items: center;
}

.location{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.location-description{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.location-section h1{
    color: var(--secondary-txt-color);  
    margin-bottom: 5rem; 
}

.location-description h2 , p , small {
    color: var(--secondary-color);
}

.location-img img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

/* Contact Section Styling */

.contact-section{
    background-color: var(--primary-color);
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.contact-container{
    max-width: 400px;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--secondary-color);
    border-radius: 30px;
}


.contact-heading h1{
    color: var(--secondary-txt-color);
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}


form{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
}


input{
    width: 350px;
    height: 30px;
    background-color: transparent;
    border-radius: 30px;
    border: 2px solid var(--secondary-txt-color);
    padding: 8px;
    padding-left: 1rem;
}

::placeholder{
    color: var(--secondary-txt-color);
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 1rem;
}

.name-icon{
    color: var(--secondary-txt-color);
    font-size: 2.5rem;
    font-weight: 500;
    position: absolute;
    right: 3rem;
    top: 1rem;
}

.email-icon{
    color: var(--secondary-txt-color);
    font-size: 2.5rem;
    font-weight: 400;
    position: absolute;
    right: 3rem;
    top: 9rem;
}


button{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background: var(--primary-txt-color);
    border-radius: 30px;
    border: 2px solid var(--primary-txt-color);
    font-size: 2rem;
    font-weight: 600;
    padding: 8px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    transform: scale(1.02,1.02);
}